.indicator {
    width: 100px;
    height: 30px;
    background-color: #ccc;
    transition: background-color 0.5s ease-in-out;
}

.red {
    background-color: rgb(255, 101, 101);
}

.easy {
    background-color: rgb(255, 101, 101);
}

.medium {
    background-color: rgb(243, 243, 73);
}

.strong {
    background-color: rgb(114, 211, 114);
}
